@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  background-color: grey;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

.search-form {
  text-align: center;
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
}

.form-control::placeholder {
  font-size: 15px;
  letter-spacing: 0;
  color: #082f4dab;
  padding-bottom: 10px;
}

.form-control {
  font-family: 'Quicksand', sans-serif;
  border: none;
  font-size: 25px;
  letter-spacing: 0.1em;
  font-weight: bold;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #c1b2e4;
  color: black;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 4px;
  padding-left: 60px;
}

.gallery-container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.gallery {
  display: flex;
  margin-left: -20px;
  flex-wrap: wrap;
}

.gallery-list {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 18px;
  flex-basis: calc(100% / 3 - 20px);
  margin-left: 20px;
  margin-top: 20px;
  position: relative;
}
.stats-item {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.is-hidden {
  display: none;
}

.loadMoreBtn {
  margin-left: auto;
  margin-right: auto;
}

.pic {
  max-height: 300px;
  width: auto;
  object-fit: cover;
  height: 30vw;
}

.stats {
  display: flex;
  justify-content: center;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.55);
}

.photo-card {
  cursor: pointer;
}

.photo-card:hover > .stats {
  opacity: 100%;
}

.photo-card:hover {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.55);
}

.material-icons,
.stats-item {
  color: white;
}

.material-icons {
  display: inline-block;
  margin-right: 5px;
}

.is-hidden {
  display: none;
}

.form-group {
  position: relative;
}

.search-icon {
  position: absolute;
  color: black;
  top: 20px;
  right: 210px;
}

.notification {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}

#js-search-notification {
  text-decoration: underline;
  text-underline-position: under;
}
